<table>
  <% @participants.each do |p| %>
    <tr>
      <td>
        <%= "#{p.first_name} #{p.last_name}" %>
      </td>
    </tr>
  <% end %>
</table>


<%= link_to "Create a new one", {controller: "participants", action: "new"} %> 
<br>
<%= link_to "back", @tournament %>
