<% content_for :title, "Editing target face" %>

<div class="w-full p-6">
  <h1 class="font-bold text-4xl">Editing target face</h1>

  <%= render "form", tournament: @tournament, target_face: @target_face %>

  <%= link_to "Show this target face", tournament_target_face_path(@tournament, @target_face), class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to target faces", tournament_target_faces_path(@tournament), class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
