<% content_for :title, "Editing target face" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing target face</h1>

  <%= render "form", target_face: @target_face %>

  <%= link_to "Show this target face", @target_face, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to target faces", target_faces_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
