<footer class="flex justify-center text-grey text-center p-4 mt-auto space-x-4">
  <a href="https://github.com/ThoFrank/archer" class="text-gray-600 hover:text-gray-700">
    <img src="https://simpleicons.org/icons/github.svg" alt="GitHub Repository" class="inline-block w-4 h-4 mr-1">
  </a>
  <a class="text-gray-600 hover:text-gray-700" href="https://bogen-psv.de/datenschutz.html">Privacy Statement</a>
  <a class="text-gray-600 hover:text-gray-700" href="https://bogen-psv.de/impressum.html">Imprint</a>
</footer>
